WebContent/wsdl/BookRetrievalSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Model" xmlns:intf="http://Model" xmlns:tns1="http://Bean" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Model" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://Bean"/>
   <element name="getProductInfo">
    <complexType>
     <sequence>
      <element name="productID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProductInfoResponse">
    <complexType>
     <sequence>
      <element name="getProductInfoReturn" type="tns1:BookBean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://Bean" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BookBean">
    <sequence>
     <element name="bID" nillable="true" type="xsd:string"/>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:int"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getProductInfoResponse">

      <wsdl:part element="impl:getProductInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getProductInfoRequest">

      <wsdl:part element="impl:getProductInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookRetrievalSOAP">

      <wsdl:operation name="getProductInfo">

         <wsdl:input message="impl:getProductInfoRequest" name="getProductInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getProductInfoResponse" name="getProductInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookRetrievalSOAPSoapBinding" type="impl:BookRetrievalSOAP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getProductInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProductInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProductInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookRetrievalSOAPService">

      <wsdl:port binding="impl:BookRetrievalSOAPSoapBinding" name="BookRetrievalSOAP">

         <wsdlsoap:address location="http://localhost:8080/BrickAndMortars/services/BookRetrievalSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
